# vim: set filetype=tmux:
# Managed by dev-windows — edit ~/.tmux/local/windows.yaml to update
new-window -n {{ name }} -c '{{ dir }}'
split-window -h -l 50% -t 0
split-window -v -l 50% -t 1

select-pane -t 0 -T '{{ L0 or "Server" }}'
select-pane -t 1 -T 'Editor'
select-pane -t 2 -T 'Console'

send-keys -t 0 '{{ init }}' Enter
send-keys -t 1 '{{ init }} && nvim .' Enter
send-keys -t 2 '{{ init }}' Enter
