# vim: set filetype=tmux:
# Managed by dev-windows — edit ~/.tmux/local/windows.yaml to update
new-window -n {{ name }} -c '{{ dir }}'
split-window -h -l 70% -t 0
split-window -v -l 15 -t 1

send-keys -t 0 '{% if cmd_P0 %}cd {{ dir_P0 }} && {{ cmd_P0 }}{% else %}{{ init_P0 }}{% endif %}' Enter
send-keys -t 1 '{% if cmd_P1 %}cd {{ dir_P1 }} && {{ cmd_P1 }}{% else %}{{ init_P1 }} && nvim .{% endif %}' Enter
send-keys -t 2 '{% if cmd_P2 %}cd {{ dir_P2 }} && {{ cmd_P2 }}{% else %}{{ init_P2 }}{% endif %}' Enter
